*{
  box-sizing: border-box;
  margin:auto;
}

.App {
    text-align: center;
    font-family:cursive ;
  }
  
  .App-header {
    background-image: url('/src/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 69%;
    width: 100vw;   
    height: 100vh;
    background-color: #c4d4f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    color: white;
  }
  
.head1  {
    font-size: 50px;
    margin-bottom: 10px;
    color: #f2eaea;
  }
.head2{
    font-size: 50px;
    margin-bottom: 10px;
    color: #f2eaea;
}
  
  
  .submit{
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-radius: 90px;
    font-size: 45px;
    border-top: solid  rgb(47, 83, 181);
    border-bottom: solid  rgba(132, 8, 181, 0.837);
    border-left: solid  rgb(47, 83, 181);
    border-right: solid  rgb(153, 13, 208);
    color: #f2eaea;
    cursor:pointer;
    font-family:cursive ;
  } 
 
  @media screen and (max-width: 720px){
    .App-header{
      background-position: 65%;
    }
    .head1 h2 {
      margin-top: -20%;
      margin-bottom: 10px;
      font-size: 50px;
    }
    .head2 h2{
      margin-bottom: 30px;
      font-size: 50px;
    }
    .submit{
      height: 40px;
      width: 300px;
      font-size: 20px;
    }
  }