*{
  box-sizing: border-box;
  margin:auto;
 
}
.SecondApp{
    text-align: center;
  }

.second-page{
 background-image: url('/src/bg2.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 width: 100vw;   
 height: 100vh;
 background-color: #282c34;
 background-position: 69%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: white;
  }
 .submit-clone{
  background-color: transparent;
  backdrop-filter: blur(15px);
  border-radius: 90px;
  font-size: 20px;
  height: 50px;
  width:400px;
  color: white;
 } 
 
 @media screen and (max-width: 720px) and (min-width: 40px){
  .second-page{
    background-position: 40%;
  }
  h2{
    margin-bottom: 10px;
    font-size: 20px;
  }
  .submit-clone{
    width: 300px;
    font-size: 15px;
  }
}