*{
  box-sizing: border-box;
  margin:auto;
 
}
.SecondApp{
    text-align: center;
    font-family:cursive ;
  }

.second-page{
 background-image: url('/src/bg2.jpg');
 background-repeat: no-repeat;
 background-size: cover;
 width: 100vw;   
 height: 100vh;
 background-color: #282c34;
 background-position: 69%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: white;
  }

  .head1  {
    font-size: 50px;
    margin-bottom: 60px;
    color: #f2eaea;
  }
.head2{
    font-size: 35px;
    margin-bottom: 20px;
    color: #f2eaea;
}

 .submit-clone{
  background-color: transparent;
  backdrop-filter: blur(15px);
  border-radius: 90px;
  font-size: 35px;
  border-top: solid  rgb(36, 66, 150);
  border-bottom: solid  rgba(103, 11, 140, 0.837);
  border-left: solid  rgb(36, 66, 150);
  border-right: solid  rgb(153, 13, 208);
  color: #f2eaea;
  cursor:pointer;
  font-family:cursive ;
 } 
 
 @media screen and (max-width: 720px) and (min-width: 40px){
  .second-page{
    background-position: 40%;
  }
  .head1 h2 {
    margin-top: -20%;
    margin-bottom: 30px;
    font-size: 50px;
  }
  .head2 h2{
    margin-bottom: 10px;
    font-size: 40px;
  }
  .submit-clone{
    height: 40px;
      width: 300px;
      font-size: 20px;
  }
}