*{
  box-sizing: border-box;
  margin:auto;
}
.ThirdApp{
    text-align: center;
  }

  .third-page {
    background-image: url('/src/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;   
    height: 100vh;
    backdrop-filter: blur(20px);
    background-position: 69%;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .para{
    width: 850px;
    margin-top: -60px;
    margin-right: -550px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  .wish{
    margin-top: 5px;
    margin-bottom: 35px;
    font-size: 70px;
  }
  .lob{
    margin-top: -200px;
    font-size: 50px;
  }

  @media screen and (max-width: 720px) and (min-width: 40px){
    .third-page{
      background-position-x: 10%;
    }
    .wish{
      margin: 0%;
      font-size: 20px;
    }
    .lob{
      margin: 0%;
      font-size: 20px;
    }
    .para{
      margin: 20px;
      width: 300px;
      font-size: 15px;
      backdrop-filter: blur(2px);
    }
  }